<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

<h1>記事の修正</h1>

<%= form_for @post do |f| %>

 <p>タイトル<br>
 <%= f.text_field :title %>
 </p>

 <p>カテゴリ<br>
 <%= f.text_field :category %>
 </p>

 <p>本文<br>
 <%= f.text_area :body %>
 </p>

<%= f.submit '更新する' %>

<% end %>


</body>
</html>
