<h1>記事の修正</h1>

<%= form_for @post do |f| %>

 <p>タイトル<br>
 <%= f.text_field :title %>
 </p>

 <p>カテゴリ<br>
 <%= f.text_field :category %>
 </p>

 <p>本文<br>
 <%= f.text_area :body %>
 </p>

    <%= link_to '戻る', posts_path , class:"btn btn-primary"%>

<%= f.submit '更新する', class:"btn btn-primary "%>

<% end %>
